<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564781703271-61c3gmip7d9hs70n4pnji3d9g8cadjhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564781703271-61c3gmip7d9hs70n4pnji3d9g8cadjhl</string>
	<key>API_KEY</key>
	<string>AIzaSyASMmZDP7u30pGqCwQZVvHEfBtV-5OEot0</string>
	<key>GCM_SENDER_ID</key>
	<string>564781703271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modelFirebase</string>
	<key>PROJECT_ID</key>
	<string>model-firebase-ff4e7</string>
	<key>STORAGE_BUCKET</key>
	<string>model-firebase-ff4e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564781703271:ios:f61e6fd40d518ab11634c2</string>
</dict>
</plist>